<div class="parallax-header">
  <div class="header-content">
    <h3 class="animated fadeInDown">All Your Maps</h3>
    <div class="separator-line animated fadeInUp"> </div>
  </div>
</div>
<div id="pricing" data-section="pricing">
  <div class="container">
    <% @maps.each_slice(3) do |map_threes| %>
      <div class="row">
      <% map_threes.each do |map| %>
        <div class="col-md-4">
          <div class="pricing-table">
            <div class="pricing-table-title">
            <h5 class="pricing-title"><a href="/maps/<%= map.id %>">
            <%= map.map_name %></a></h5></div>
            <div class="pricint-table-content">
            <%= map.description %></div>
          </div>
        </div>
      <% end %>
      </div>
    <% end %>
  </div>
</div>