<div id="contact" data-section="contact">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="row">
                  <div class="col-md-6">
                  <!-- add contactForm id -->
                  <h1>Love That New Account Smell</h1>
                    <%= form_tag "/users", multipart: true, method: :post do %>
                      <div class="form-group">
                          <input type="text" class="form-control" name="first_name" placeholder="FIRST NAME" >
                          <div class="help-block with-errors"></div>
                      </div>
                      <div class="form-group">
                          <input type="text" class="form-control" name="last_name" placeholder="LAST NAME" >
                          <div class="help-block with-errors"></div>
                      </div>
                      <div class="form-group">
                          <input type="email" class="form-control" name="email" placeholder="EMAIL" >
                          <div class="help-block with-errors"></div>
                      </div>
                      <div class = "form-group">
                        <input type="password" placeholder="PASSWORD" name="password" class="form-control">
                         <div class="help-block with-errors"></div>
                      </div>
                      <div class = "form-group">
                        <input type="password" placeholder="PASSWORD CONFIRM" name="password_confirmation" class="form-control">
                         <div class="help-block with-errors"></div>
                      </div>
                      <div class = "form-group">
                        <label>Upload a profile photo</label>
                        <%= file_field_tag :avatar %>
                      </div >
                      <input class="btn btn-default" type="submit" value="Submit">
                  <% end %>
                </div>
              </div>
          </div>
      </div>
  </div><!-- / container -->
</div><!-- / contact -->