<div class="portfolio-header">
  <div class="header-content">
    <h3 class="animated fadeInDown">About Go Here!</h3>
    <div class="separator-line animated fadeInUp"> </div>
    <i class="lnr lnr-star"></i>
  </div>
</div>
<div class="contact-info">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <h1>"Where should I go when I'm there?"</h1>
                      <div>
                        <p>I've been very fortunate to have lived in three major cities millenials love to visit - Honolulu, the San Francisco Bay Area, and Tokyo, Japan. Go Here! is a solution to a question I'm asked often, "Where should I go when I'm there?"</p><p>The most thoughtful and helpful solution would allow me to share my recommendations - through an app or email - on places to eat, drink, and explore, and be able to tailor my suggestions to the person asking. The solution isn't quite out there, so I built it myself.</p><p>Go Here! isn't quite perfect, but it's getting there and I'm excited to continue working on it!</p>
                        <p>-<i>Carly Fujiyoshi, creator</i></p>
                      </div>
                    </div>
                    <div class="col-sm-4 contacts">
                        <div class="info">
                        <p class="contact-info-title"><i class="lnr lnr-user"></i>Carly Fujiyoshi</p>
                        <span class="contact-info-text"><a href="http://www.linkedin.com/in/carlislefujiyoshi">LinkedIn</a></span><br>
                        <span class="contact-info-text"><a href="http://github.com/carlislenoriko">Github</a></span>
                        </div>
                        <div class="info">
                        <p class="contact-info-title"><i class="lnr lnr-envelope"></i>Email</p>
                        <span class="contact-info-text">cfujiyoshi@gmail.com</span>
                        </div>
                        <div class="info last">
                        <p class="contact-info-title"><i class="lnr lnr-code"></i>Technologies</p>
                        <span class="contact-info-text">Ruby on Rails, Javascript, PostgreSQL, internal APIs, JSON, Google Maps API, HTML/CSS.</span>
                        </div>
                    </div>
                </div>
            </div><!-- / container -->
        </div><!-- / contact info 2col -->
