<div id="top" data-toggle="top"></div>
  <a href="#menu-toggle" id="menu-toggle"><i class="lnr lnr-menu"></i></a>
  <div class="parallax-header">
      <div class="header-content">
          <h3 class="animated fadeInDown">GO HERE!</h3>
          <div class="separator-line animated fadeInRight"> </div>
          <h5 class="animated fadeIn">Maps by You</h5>
          <a href="/users/new" class="btn btn-md btn-primary animated fadeInUp page-scroll">Sign up!</a>
      </div>
  </div>
  <!-- / header -->

  <!-- features section 3col -->
  <div id="feature" data-section="feature">
      <div class="container">
          <div class="row">
               <div class="feature col-sm-4">
                  <div class="feature-icon">
                      <i class="lnr lnr-pencil"></i>
                  </div>
                  <h5 class="feature-title">EASY TO CREATE</h5>
                  <p>You've got travel reccommendations, and you need to share them! Create maps with personalized descriptions</p>
              </div>
              <div class="feature col-sm-4">
                  <div class="feature-icon">
                      <i class="lnr lnr-eye"></i>
                  </div>
                  <h5 class="feature-title">RETINA READY</h5>
                  <p>Your eyes can gobble up all the information easily with recognizeable Google Maps</p>
              </div>
              <div class="feature col-sm-4">
                  <div class="feature-icon">
                      <i class="lnr lnr-envelope"></i>
                  </div>
                  <h5 class="feature-title">EMAIL MAPS</h5>
                  <p>*Coming Soon* Share your own maps with loved ones so they have the best trips ever</p>
              </div>
              <div class="feature col-sm-4">
                  <div class="feature-icon">
                      <i class="lnr lnr-diamond"></i>
                  </div>
                  <h5 class="feature-title">SIMPLE DESIGN</h5>
                  <p>A straightforward, easy-to-use site to create and share travel suggestions</p>
              </div>
              <div class="feature col-sm-4">
                  <div class="feature-icon">
                      <i class="lnr lnr-book"></i>
                  </div>
                  <h5 class="feature-title">WELL DOCUMENTED</h5>
                  <p>Addresses, Google Maps with exact locations marked, and personalized suggestions</p>
              </div>
              <div class="feature col-sm-4">
                  <div class="feature-icon">
                      <i class="lnr lnr-laptop-phone"></i>
                  </div>
                  <h5 class="feature-title">EVERYWHERE</h5>
                  <p>Send and receive maps with personalized reccommendations wherever you are - on your computer or your phone</p>
              </div>
          </div>
      </div><!-- / container -->
  </div><!-- / features section 3col -->