<div id="top" data-toggle="top"></div>
  <a href="#menu-toggle" id="menu-toggle"><i class="lnr lnr-menu"></i></a>
  <div class="parallax-header">
      <div class="header-content">
          <h3 class="animated fadeInDown">GO HERE!</h3>
          <div class="separator-line animated fadeInRight"> </div>
          <h5 class="animated fadeIn">Maps by You</h5>
          <a href="/users/new" class="btn btn-md btn-primary animated fadeInUp page-scroll">Sign up!</a>
      </div>
  </div>
  <!-- / header -->

  <!-- features section 3col -->
  <div id="feature" data-section="feature">
      <div class="container">
          <div class="row">
              <div class="feature col-sm-4">
                  <div class="feature-icon">
                      <i class="lnr lnr-laptop-phone"></i>
                  </div>
                  <h5 class="feature-title">RESPONSIVE</h5>
                  <p>Aenean vel egestas augue, faucibus egestas tortor. Praesent tempor, urna eu imperdiet vulputate, orci justo sodales</p>
              </div>
              <div class="feature col-sm-4">
                  <div class="feature-icon">
                      <i class="lnr lnr-eye"></i>
                  </div>
                  <h5 class="feature-title">RETINA READY</h5>
                  <p>Aenean vel egestas augue, faucibus egestas tortor. Praesent tempor, urna eu imperdiet vulputate, orci justo sodales</p>
              </div>
              <div class="feature col-sm-4">
                  <div class="feature-icon">
                      <i class="lnr lnr-pencil"></i>
                  </div>
                  <h5 class="feature-title">EASY TO EDIT</h5>
                  <p>Aenean vel egestas augue, faucibus egestas tortor. Praesent tempor, urna eu imperdiet vulputate, orci justo sodales</p>
              </div>
              <div class="feature col-sm-4">
                  <div class="feature-icon">
                      <i class="lnr lnr-diamond"></i>
                  </div>
                  <h5 class="feature-title">BEATIFUL DESIGN</h5>
                  <p>Aenean vel egestas augue, faucibus egestas tortor. Praesent tempor, urna eu imperdiet vulputate, orci justo sodales</p>
              </div>
              <div class="feature col-sm-4">
                  <div class="feature-icon">
                      <i class="lnr lnr-book"></i>
                  </div>
                  <h5 class="feature-title">WELL DOCUMENTED</h5>
                  <p>Aenean vel egestas augue, faucibus egestas tortor. Praesent tempor, urna eu imperdiet vulputate, orci justo sodales</p>
              </div>
              <div class="feature col-sm-4">
                  <div class="feature-icon">
                      <i class="lnr lnr-envelope"></i>
                  </div>
                  <h5 class="feature-title">24/7 SUPPORT</h5>
                  <p>Aenean vel egestas augue, faucibus egestas tortor. Praesent tempor, urna eu imperdiet vulputate, orci justo sodales</p>
              </div>
          </div>
      </div><!-- / container -->
  </div><!-- / features section 3col -->