// Font and Styles

$primary-font: 'Josefin Sans', sans-serif;
$regular: 400;
$semi-bold: 600;
$bold: 700;
$letter-spacing: 0.5px;

// Theme Colors

$default: #777;
$default-hover: #555;
$primary: #40bfff;
$primary-hover: #2aa6e5;
$primary-transparent: rgba(64, 191, 255, 0.6);
$primary-transparent-overlay: rgba(64, 191, 255, 0.8);
$success: #86d244;
$success-hover: #68b624;
$info: #009eef;
$info-hover: #0084c9;
$warning: #ffbf25;
$warning-hover: #eeab09;
$danger: #f11a1a;
$danger-hover: #d90707;
$title-color: #333;
$text-color: #555;
$bg-color: #eee;
$background: #fff;
$white-transparent: rgba(255, 255, 255, 0.8) !important;
$light-grey: #eee;
$light-grey-transparent: rgba(245, 245, 245, 0.8) !important;
$grey: #ccc;
$grey-transparent: rgba(200, 200, 200, 0.8) !important;
$dark-grey: #333;
$dark-grey-transparent: rgba(150, 150, 150, 0.8) !important;
$black: #000;
$white: #fff;