// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.listy {
  background-color: Azure;
  width: 50%;
  padding: 10px;
}

#category-title {
  margin-top: 20px;
}